.periphery {
  position: relative;
  top: -16px;
  background: rgb(236, 155, 203); 
  width: 100%;
  line-height: 80px; 
  text-align: center;
}
.inner {
  background: #29ffc6; 
  width: 80%;
  height: 45px;
  padding-top: 0px;
  padding-bottom: 26px;
  border-radius: 20px;
  font-size: 18px;
  margin-bottom: 5px;
}
.word {
  position: relative;
  left:-200px;
  top:-5px;
  font-size: 30px;
}
.keypress1 {
  position: relative;
  top: -106px;
  left: 160px;
  padding: 5px;
  font-size: 1em;
  border: none;
}
.keypress2 {
  position: relative;
  top: -166px;
  left: 180px;
  padding: 6px;
  font-size: 1em;
  font: -1em sans-serif;
  border: none;
}
